/* Reset some styling */
.related {
  border-top: none;
}

.post {
  margin-bottom: 3em;
}

/* Follow on twitter button */
.like-on-twitter {
  text-align: center;
}

.like-on-twitter p {
  margin: 0;
}

.like-on-twitter p a {
  color: white !important;
  text-decoration: none;
}

.like-on-twitter p a:hover {
  border-bottom: 1px solid white;
  text-decoration: underline;
}

.subscribe-box {
  background-color: #75b5aa;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
}

.subscribe-box p:last-of-type {
  margin: 0.5rem 0 0 0;
}

.subscribe-box a {
  color: white !important;
}

.subscribe-box a:hover {
  color: white;
  text-decoration: underline;
}
